REMOTE_MANAGEMENT_DISABLE={{ zenkos3_env_remote_management_disable }}
S3BACKEND={{ zenkos3_env_s3backend }}
{% if zenkos3_env_simple_access_enabled %}
SCALITY_ACCESS_KEY_ID={{ zenkos3_env_scality_access_key_id }}
SCALITY_SECRET_ACCESS_KEY={{ zenkos3_env_scality_secret_access_key }}
{% endif %}